kube-prometheus-stack:
  prometheusOperator:
    admissionWebhooks:
      enabled: false
    tls:
      enabled: false

  alertmanager:
    enabled: false

  grafana:
    enabled: true
    sidecar:
      datasources:
        enabled: true
        skipReload: false
    ingress:
      enabled: true
      ingressClassName: nginx-private
      hosts:
        - grafana.colfax.int
      path: /
    # env:
    #   PUID: "1001"
    #   PGID: "1002"
    # persistence:
    #   enabled: false
    #   storageClassName: nfs-client
    #   size: 2Gi
    # initChownData:
    #   enabled: false

  prometheus:
    ingress:
      enabled: true
      ingressClassName: nginx-private
      hosts:
        - prometheus.colfax.int
      path: /

    prometheusSpec:
      retention: 30d
      nodeSelector:
        kubernetes.io/hostname: colfax-1
      storageSpec:
        volumeClaimTemplate:
          spec:
            storageClassName: local-storage
            accessModes: ["ReadWriteOnce"]
            resources:
              requests:
                storage: 50Gi

      additionalScrapeConfigs:
        - job_name: "prox-node-hoyt"
          static_configs:
            - targets: [192.168.50.52:9100]
        - job_name: "prox-node-colfax"
          static_configs:
            - targets: [192.168.50.50:9100]

        - job_name: nginx-public
          static_configs:
            - targets:
                [
                  ingresspublic-ingress-nginx-controller-metrics.ingress-public.svc.cluster.local:10254,
                ]
        # Harbor Metrics
        - job_name: "harbor-exporter"
          scrape_interval: 20s
          static_configs:
            # Scrape metrics from the Harbor exporter component
            - targets: ["harbor-exporter.harbor.svc.cluster.local:8001"]
        - job_name: "harbor-core"
          scrape_interval: 20s
          params:
            # Scrape metrics from the Harbor core component
            comp: ["core"]
          static_configs:
            - targets: ["harbor-exporter.harbor.svc.cluster.local:8001"]
        - job_name: "harbor-registry"
          scrape_interval: 20s
          params:
            # Scrape metrics from the Harbor registry component
            comp: ["registry"]
          static_configs:
            - targets: ["harbor-exporter.harbor.svc.cluster.local:8001"]

        # - job_name: minio-job
        #   bearer_token: x
        #   metrics_path: /minio/v2/metrics/cluster
        #   scheme: https
        #   static_configs:
        #     - targets: [a1.alix.lol]

        - job_name: jellyfin
          metrics_path: /metrics
          scheme: http
          static_configs:
            - targets: [jellyfin.q-media.svc.cluster.local]
        - job_name: q-postgres
          metrics_path: /metrics
          scheme: http
          static_configs:
            - targets: [q-post-gressive-postgresql-metrics.q-post-gressive.svc.cluster.local:9187]

        # Q Postgres Metrics
        # - job_name: 'q-postgres'
        #   scrape_interval: 20s
        #   static_configs:
        #     - targets: ['qpostgres-postgresql-metrics.q-postgres.svc.cluster.local:9187']

        # - job_name: 'q-postgres'
        #   scrape_interval: 20s
        #   static_configs:
        #     - targets: ['.q-media.svc.cluster.local:9187']
