# Prometheus - Helm
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: prometheusstack
  namespace: argocd
spec:
  project: default
  source:
    repoURL: "git@github.com:politeauthority/colfax-ops.git"
    path: cluster/bedrock/monitoring/prometheus-stack/
    targetRevision: main
    helm:
      valueFiles:
        - values-colfax.yaml
  sources: []
  destination:
    namespace: monitoring
    name: in-cluster
  ignoreDifferences:
    - group: ""
      kind: PersistentVolumeClaim
      jsonPointers:
        - /status
    - group: ""
      kind: PersistentVolume
      jsonPointers:
        - /status
    - group: monitoring.coreos.com
      kind: Prometheus
      jsonPointers:
        - /status
    - group: admissionregistration.k8s.io
      kind: ValidatingWebhookConfiguration
      jqPathExpressions:
        - '.webhooks[]?.clientConfig.caBundle'
    - group: admissionregistration.k8s.io
      kind: MutatingWebhookConfiguration
      jqPathExpressions:
        - '.webhooks[]?.clientConfig.caBundle'
  syncPolicy:
    syncOptions:
      - ServerSideApply=true
      - RespectIgnoreDifferences=true
