apiVersion: v1
kind: PersistentVolume
metadata:
  name: prometheus-store
spec:
  capacity:
    storage: 50G
  volumeMode: Filesystem
  storageClassName: nfs-client
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  nfs:
    path: /mnt/media-1/container-data/prometheus-db
    server: 192.168.50.51