ingress-nginx:
  controller:
    ingressClass: nginx-private
    ingressClassResource:
      name: nginx-private
      controllerValue: "k8s.io/ingress-nginx-private"
    service:
      loadBalancerIP: "192.168.50.81"
      externalIPs: ["192.168.50.81"]
    extraArgs:
      enable-ssl-passthrough: "true"
