# name: Validate

# # concurrency:
# # 	group: ${{ github.ref }}
# # 	cancel-in-progress: true

# on:
#   push:
#     branches: ["main"]
#   pull_request:
#     branches: ["main"]

# jobs:
#   validate-kustomize:
#     runs-on: self-hosted
#     container:
#       image: harbor.squid-ink.us/politeauthority/polite-cicd:${{ vars.CICD_VERSION }}
#       credentials:
#         username: politeauthority
#         password: ${{ secrets.HARBOR_PASSWORD }}
#     steps:
#       - uses: actions/checkout@v4
#       - name: Validate Kustomize - Argo
#         run: |
#           task check-k

#   validate-helm:
#     runs-on: self-hosted
#     container:
#       image: harbor.squid-ink.us/politeauthority/polite-cicd:${{ vars.CICD_VERSION }}
#       credentials:
#         username: politeauthority
#         password: ${{ secrets.HARBOR_PASSWORD }}
#     strategy:
#         fail-fast: true
#     steps:
#         - uses: actions/checkout@v4
#         - name: Validate Helm - Bedrock
#           run: |
#             task check-helm
